@font-face {
    font-family: 'MonospaceTypewriterRegular';
    src: url('/static/MonospaceTypewriter-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DejaVuSansMonoBook';
    src: url('/static/DejaVuSansMono-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {font: 18px/27px 'DejaVuSansMonoBook', Arial, sans-serif;}
/*body {font: 18px/27px 'MonospaceTypewriterRegular', Arial, sans-serif;}*/
/*a { font-size: 8px; }*/
p, h1 { margin: 0; padding: 0; }

img { border: none; }
#wrapper { margin: 0 25px auto; width: 100%; }
#image-text { position: relative; width: 100%; }
#text { padding: 10px 0; }
#text:before { content: '\201C' }
#text:after { content: '\201D' }
#image { height: 300px; }
#word { position:absolute; background-color: lightgray; padding: 10px; }
#full { background-color: lightgray; padding: 10px; margin-bottom: 10px; }
.credits { font-size: 12px; line-height: 13px; }
.clear { clear: both; }

