<html>
<head>
<link rel="stylesheet" href="static/visipo.css" type="text/css">
</head>
<body>
<div id='wrapper'>
	<img id='loader' src='/static/ajax-loader.gif' alt='loading...'/>
	<div id='image-text' style='display: none'>
		<div id='text' class='text'></div>
		<div id='word' ></div>
		<div class='img-wrap'>
			<img id='image' src='' alt=''/>
			<div id='image-credits' class='credits'></div>
		</div>
	</div>
	<div class='clear'></div>
	<div id='poem-credits' class='credits'>
		<h2>Clydegrad by Edwin Morgan</h2>
		<p><a href='http://www.mariscatpress.co.uk/Mariscat/Home.html'>http://www.mariscatpress.co.uk/Mariscat/Home.html</a></p>
		<p>Reproduced by permission of the publisher.</p>
		<p>from Sonnets from Scotland (Mariscat, 1984)</p>
	</div>
	<a href='#' id='full-poem-button'>show/hide full poem</a>
	<div id='full' class='text' style='display:none'></div>
	<h1>poemtic <br/><span style='font-size: small'> coded by neill russell @enru at #chscot 2012</span></h1>
</div>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script type='text/javascript' src='/static/visipo.js'></script>
</body>
</html>
